label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }


body, html {
    height: 100%;
}

  /* .module {
    height: 110px;
    padding: 10px;
    text-align: center;
    color: darkblue;
    max-height: 120px;
    min-width: 120px;
    background-color: rgba(135, 206, 235, 0.7);
    border-radius: 2px;
    width: 19%;
  } */
  img {
    margin-top: 0px;
    padding: 0px;
    height: 70px;
}

.pokeDetails {
    
  padding: 10px;
  text-align: center;
  color: black;
  min-width: 120px;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  width: 30%;
  display: inline-block;
  border: 2px solid #a4a4a4;
  border-radius: 5px;
}

.physical, .abilities {
  text-align: left;
  float: left;
  margin-top: 20px;
}

.physical{
  position: relative;
  left: 15%;
}

.abilities {
  position: relative;
  /* left: 35%; */
  margin-left: 100px;
  text-transform: capitalize;
}
