label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  .background {
    background-image: url('C:\Users\mlomboy\Desktop\PokeDex\src\assets\img\PokemonBackground.jpg');
   /* Full height */
   height: 100%; 

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 1400px;
}

body, html {
    height: 100%;
}
#pokedexLogo {
    width: 450px;
    height: 100px;
    background-image: url('C:\Users\mlomboy\Desktop\PokeDex\src\assets\img\PokeDexLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -100px;
    background-position-y: 20px;

  }

  .module {
    height: 110px;
    padding: 10px;
    text-align: center;
    color: darkblue;
    max-height: 120px;
    min-width: 120px;
    background-color: rgba(135, 206, 235, 0.7);
    border-radius: 2px;
    width: 19%;
  }
  img {
    margin-top: 0px;
    padding: 0px;
    float: left;
    height: 70px;
}

