.background {
    background-image: url('C:\Users\mlomboy\Desktop\PokeDex\src\assets\img\PokemonBackground.jpg');
   /* Full height */
   height: 100%; 

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 1400px;
}

body, html {
    height: 100%;
}
#pokedexLogo {
    width: 450px;
    height: 100px;
    background-image: url('C:\Users\mlomboy\Desktop\PokeDex\src\assets\img\PokeDexLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -100px;
    background-position-y: 20px;

  }

  [class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: center;
    margin-bottom: 0;
  }
  h4 {
    position: relative;
    text-transform: capitalize;
  }
  .grid {
    margin-left: 5%;
  }
  .col-1-4 {
    width: 19%;
  }
  .module {
    height: 110px;
    padding: 10px;
    text-align: center;
    color: darkblue;
    max-height: 120px;
    min-width: 120px;
    background-color: rgba(135, 206, 235, 0.7);
    border-radius: 2px;
  }
  .module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
  }
  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }
  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; 
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }
  
}